.grid-container {
    height: 100%;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    gap: 15px;
}

.section {
    background-color: beige;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 1.03rem;
}

ul {
    padding-left: 20px;
}

.header {
    /* background-color: whitesmoke; */
    background-color: #eadefa;
    grid-column: span 2;
}

.header a {
    color: rgba(0, 0, 0, 0.659);
    font-size: large;
}

.techprofile {
    background-color: #a36713;
    color: white;
    grid-column: span 2;
}

.summary {
    /* background-color: rgb(209, 209, 209); */
    background-color: #765330;
    color: white;
    grid-column: span 3;
}

.awards {
    background-color: #EEDF7A;
    grid-row: span 2;
}

.awards ul {
    padding: 0;
    list-style: none;
}

.workex {
    background-color: #821131;
    color: white;
    grid-column: span 3;
}

.education {
    background-color: #D7C3F1;
    color: black;
    font-size: 1rem;
    grid-column: span 3;
}

.education ul {
    list-style: none;
    padding: 0;
}

.workex li {
    padding: 3px;
}

.awards {
    font-size: 1.1rem;
}

.awards p {
    padding: 10px 0px;
}

.hobbies {
    font-size: 1.2rem;
}

.hobbies ul {
    list-style: none;
    padding: 0;
}

.hobbies li {
    padding-bottom: 10px;
}

.footer {
    text-align: center;
    background-color: #343131;
    color: white;
    grid-column: span 4;
    font-size: 1.2rem;
}

.footer p {
    margin: 0;
}

.footer a {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 50px;
}

.grid-container-contact {
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.contact {
    background-color: #C7253E;
    color: white;
    grid-area: span 1 / span 4;
}

.contact a {
    color: white;
}

img {
    float: left;
    margin-right: 20px;
}

h1, h2 {
    margin: 0;
    font-weight: 700;
}

h3, h4 {
    margin: 5px 0px;
    font-weight: 700;
}

.highlight {
    color: #ffe100;
}

@media (min-width: 871px) and (max-width: 1000px) {
    .section {
        font-size: 0.9rem;
        font-weight: 400;
    }

    .title {
        font-size: 40px;
    }
}

@media (min-width: 491px) and (max-width: 870px) {

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .section {
        flex: 1;
        font-size: 1.03rem;
    }

    .title {
        font-size: 50px;
    }

    .header, .summary {
        order: -2;
    }
    .workex, .techprofile {
        order: -1;
    }
}

@media (max-width: 490px) {
    
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .section {
        flex: 1;
        font-size: 0.9rem;
    }

    .title {
        font-size: 30px;
    }

    .header, .summary {
        order: -2;
    }
    .workex, .techprofile {
        order: -1;
    }
}